body {
    background-image: url('https://images.pexels.com/photos/6634140/pexels-photo-6634140.jpeg') !important;
    background-size: cover;
    background: fixed;
}

p {
    color: white;
}

.navbar {
    background-color: rgb(0, 0, 0, 0) !important;
    background-image: linear-gradient(to right,black, rgba(0, 0, 0, .0));
    height: 100px;
    margin: auto;
}

.logo {
    height: 100px;
}

.heading {
    background-color: rgba(0, 0, 0, 0) !important;
    position: absolute;
    width: 100%;
    margin: 150px auto auto 0 !important;
    z-index: 1;
}

h1.slab-heading {
    color: rgba(0, 0, 0, 7) !important;

    font-size: 50px;
    transform: translate(0, 100px);
}

p.text-body-emphasis {
    color: black !important;
    font-size: larger;
    font-weight: 500;
}

.feature {
    text-align: center;
}

.slab {
    height: 1000px;
}

.slab img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 875px;
    opacity: .7;
    position: absolute;
}

.services-heading {
    text-align: center;
    display: block;
    margin-top: 30px;
}

.services-heading h2{
    color: white;
    font-size: 40px;
}

.services-heading p{
    font-size: 24px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 100px;
}

.text-bg-primary {
    background-color: RGBA(13,110,253,var(--bs-bg-opacity,0))!important;
    border-radius: 5px;
    padding: 10px;
}

.services {
    padding: initial !important;
}

.services-child {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.instagram {
    padding-top: initial !important;
    text-align: center;
}

.instagram-btn {
    color: white;
}

.instagram-text {
    width: 100%;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bottom-content {
    margin-bottom: auto !important;
}

.insta-sc {
    background-image: url('./Resources/ig-sc.JPG');
    background-size: 100%;
    height: 500px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
footer.py-3.my-4 {
    background-color: rgba(0, 0, 0, .5) !important;
    margin: auto !important;
    width: 100% !important;
}

footer.py-3.my-4 a {
    color: white !important;
}

@media (max-width: 995px){
    nav {
        height: 150px !important;
        background-color: black !important;
    }

    .logo {
        height: 70px;
    }

    h1.slab-heading {
        transform: translate(0, -120px);
     }
 

    .insta-sc {
        background-size: 100%;
        height: 200px;
    }

    .navbar-nav {
        flex-direction: row;
    }
    .nav-item {
        width: 50%;
        margin-left: 25px;
    }
}

@media (max-width: 500px){
    .logo {
        height: 70px;
    }
    
    h1.slab-heading {
       margin-left: auto;
       width: 100%;
       margin-top: auto;
       font-size: 30px;
       transform: translate(0, -110px);
    }

    .services-heading {
        font-size: 25px;
        margin-bottom: auto;
    }

    .services-heading h2{
        font-size: 25px;
        margin-top: 100px !important;
    }

    .services-heading p{
        font-size: 16px;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }

    .slab {
        margin: auto;
        height: 450px;
    }

    .slab img {
        height: 440px;
    }

    .insta-sc {
        background-size: 100%;
        height: 110px;
    }
}

@media (max-width: 400px) {

    .logo {
        height: 50px;
    }

    h1.slab-heading {
        font-size: 28px;
        transform: translate(0, -150px);
     }
}

@media (max-width: 300px) {
    h1.slab-heading {
        font-size: 24px;
        transform: translate(0, -150px);
     }
}